@model IEnumerable<DataAccess.Models.Movie>

@{
    ViewData["Title"] = "RateMovies";
}

<h1>RateMovies</h1>

<form method="post" asp-route="RateMovies">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Hidden("id", item.Id)
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <select name="ratings">
                            <option value="">--- Rate me ---</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-right">
        <input type="submit" value="Submit"/>
    </div>

</form>